<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Detail Transaksi</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/transaksi">Transaksi</a></li>
          <li class="breadcrumb-item active">Transaksi ID</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<div class="content">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-text-width"></i>
            Order Detail
          </h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-4">Order ID</dt>
            <dd class="col-sm-8">272h9asdfhj9123798213mkasdjfhaksdfh</dd>
            <dt class="col-sm-4">Metode Pembayaran</dt>
            <dd class="col-sm-8">Bank BNI 46</dd>
            <dt class="col-sm-4">Jumlah</dt>
            <dd class="col-sm-8">Rp 2.500.000</dd>
            <dt class="col-sm-4">Waktu Transaksi</dt>
            <dd class="col-sm-8">20 Desember 2050</dd>
            <dt class="col-sm-4">Status</dt>
            <dd class="col-sm-8">
              <div class="btn btn-sm btn-success">Completed</div>
            </dd>
          </dl>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-text-width"></i>
            Customer Detail
          </h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-4">Nama</dt>
            <dd class="col-sm-8">Nayaka Yoga Pradipta</dd>
            <dt class="col-sm-4">Email</dt>
            <dd class="col-sm-8">nayakayp@gmail.com</dd>
            <dt class="col-sm-4">Perusahaan</dt>
            <dd class="col-sm-8">Bigger Inc</dd>
            <dt class="col-sm-4">Alamat</dt>
            <dd class="col-sm-8">Jalan A. Yani, Surabaya</dd>
            <dt class="col-sm-4">No Telp</dt>
            <dd class="col-sm-8">0123840923</dd>
          </dl>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
</div>
